<h1>Link Shortener</h1>

<%= bootstrap_form_for @shortened_url do |form| %>
  <%= form.text_field :url, placeholder: "Your URL", hide_label: true %>
  <%= form.submit "Shorten my URL", class: "btn btn-primary" %>
<% end %>

<% if flash[:shortened_id].present? %>
<div id="link" class="alert alert-success" role="alert">
  <a class="shortened-link" id="fe_text">
    <%= link_to url_url(flash[:shortened_id]), url_url(flash[:shortened_id]) %>
  </a>
</div>
<% end %>
