// Place all the styles related to the urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

div.col-md-6 {
  text-align: center;
  margin-top: 20px;
}

#link {
  margin-top: 15px;
}
